html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body {
    font-family: "TT Lakes", sans-serif;
    margin: 0;
    width: 100%;
    height: 597px;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 88px;
    width: 100%;
    border-bottom: 1px solid #D9FFF5;
}
.header-1,
.header-2 {
    display: flex;
    margin-right: 10px;
}
.header-1{
    flex-grow: 1;
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
}

.header__buttons {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

@media (max-width: 768px){
    .header__buttons-2{
        display:none;
    }
}
@media (min-width: 768px) {
    .header__buttons-2{
        display: block;
    }
    .header__buttons-2 {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
    .call {
        background: url("images/call.svg");
    }
    .chat {
        background: url("images/chat.svg");
    }
    .profile {
        background: url("images/profile.svg");
    }
}



.burger {
    background: url("images/burger.svg");
}
.repair {
    background: url("images/repair.svg");
}
.chekstatus {
    background: url("images/checkstatus.svg");
}

.logo {
    width: 98px;
    height: 52px;
    margin-left: 20px;
}

.header__buttons.repair::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    left: 190px;
    top: 28px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .header-1:first-child::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        left: 60px;
        top: 30px;
        cursor: pointer;
    }
    .header__buttons.repair:after {
        display: none;
    }
    .button-margin {
        margin-left: 20px;
    }

    .repair:before{
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        right: 110px;
        top: 32px;
    }
}


.main{
    background-color: #f8f8f8;
    width: 100%;
}
@media (min-width: 768px) {
    .main {
        height: 416px;
    }
}
.main__title {
    padding-left: 16px;
    font-family: "TT Lakes Bold", sans-serif;
    font-size: 28px;
    margin-top: 0;
    padding-top: 16px;
}
@media (max-width: 1120px){
    .line {
        display: none;
    }
}
@media (min-width: 1120px) {
    .line__button {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        margin-right: 25px;
        margin-left: 5px;
}
    .line {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 16px;
    }
    .main__h {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .repair::before {
        display: none;
    }
}


.main__title:before {
    content: "";
    width: 4px;
    height: 40px;
    border-radius: 0 4px 4px 0;
    background-color: #41F6D7;
    position: absolute;
    left: -1px;
}

.main__menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}
@media (min-width: 1120px) {
    .main__menu {
        overflow-x: hidden;
        flex-wrap: wrap;
    }

}
.main__menu::-webkit-scrollbar {
    display: none;
}
.menu-list {
    display: block;
    border: none;
    background-color: #f8f8f8;
    color: #7E7E82;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
}
.menu-list:first-child {
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    margin-left: 24px;
}
@media (min-width: 1120px) {
    .menu-list:first-child, .menu__items:last-child{
        margin-left: 34px;
    }
}
.items-active{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 254px;
}
.items-services{
    flex: 0 0 211px;
}
.items-prices{
    flex: 0 0 152px;
}
.items-address{
    flex: 0 0 233px;
}
.items-special{
    flex: 0 0 191px;
}
.items-responses{
    flex: 0 0 95px;
}
.menu-list:hover{
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .main-info {
        flex-direction: row;
        justify-content: space-around;
    }
}

.main-info__text {
    width: 288px;
    height: 90px;
    margin: 24px 16px 16px 16px;
    font-size: 14px;
    padding-right: 10px;
}
@media (max-width: 768px){
    .main-info__text1{
        display: none;
    }
}

@media (min-width: 768px){
    .main-info__text1{
        display: block;
        font-size: 14px;
        width: 312px;
        margin-left: 16px;
        padding-top: 15px;
        margin-top: 25px;

    }
    .main-info__text{
        width: 312px;
    }
}
@media (min-width: 1120px){
    .main {
        height: 535px;
    }
    .main-info__text1 {
        display: none;
    }
    .main-info__text2 {
        width: 490px;
        padding-left: 34px;
        font-size: 14px;
    }
    .main-info__text {
        width: 490px;
        height: 60px;
        padding-left: 34px;
        margin-left: 0;
    }
}
@media (max-width: 1120px) {
    .main-info__text2 {
        display: none;
    }
}

.main-info__more {
    display: flex;
}

.main-info__button{
    display: flex;
    margin-left: 3px;
}
.read-more{
    border: none;
    background-color: #F8F8F8;
    margin-left: 16px;
    font-size: 16px;
    cursor: pointer;
}

.read-more::before {
    content: url("images/icon.svg");
    padding-right: 5px;
}


.main-info__foto{
    margin-top: 16px;
}
@media (min-width: 768px) {
    .main-foto {
        width: 400px;
        height: 240px;
        margin-top: 15px;
        border-radius: 6px;
    }
}

@media (min-width: 1120px) {
    .main-info {
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-foto {
        width: 532px;
        height: 337px;
        border-radius: 5px;
        max-height: 407px;
        padding-bottom: 30px;
        flex-grow: 1;
    }
    .main-info__button {
        margin-left: 45px;
    }
}


